.item-skeleton-page {
  margin: 0 auto;
  padding-top: 24px;
  max-width: 1200px - 2 * 16px;

  .item {
    .title {
    }

    .content-container {
      display: block;
      margin: 0;

      .image-card {
        margin: 24px auto 0 auto;
        width: 256px;

        .image-container {
        }
      }

      .add-to-cart-card {
        margin: 16px 0 0 0;
        width: 100%;
      }

      .details-card {
        margin: 16px 0 0 0;
        width: 100%;
      }
    }
  }
}

@media (min-width: 560px) {
  .item-skeleton-page {
    .item {
      .content-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: (24px - 16px) 0 0 -16px;

        .image-card {
          order: 1;
          margin: 16px 0 0 16px;
        }

        .add-to-cart-card {
          order: 2;
          margin: 16px 0 0 16px;
          min-width: 256px;
          max-width: 256px;
        }

        .details-card {
          order: 3;
          margin: 16px 0 0 16px;
          min-width: 324px;
          flex: 1 1 0;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .item-skeleton-page {
    .item {
      .content-container {
        .image-card {
          order: 1;
        }

        .add-to-cart-card {
          order: 3;
        }

        .details-card {
          order: 2;
        }
      }
    }
  }
}
