{
  "version": "2018-05-29",
  "method": "POST",
  "params": {
    "headers": {
      "Content-Type": "application/x-amz-json-1.0",
      "x-amz-target": "AWSStepFunctions.SendTaskSuccess"
    },
    "body": $util.toJson({
      "output": $util.toJson({
        "transactionId": "$context.arguments.transactionId"
      }),
      "taskToken": "$context.arguments.token"
    })
  },
  "resourcePath": "/"
}
