$extensions.setSubscriptionFilter({
  "filterGroup": [{
    "filters": [{
      "fieldName": "transactionId",
      "operator": "eq",
      "value": $context.arguments.transactionId
    }]
  }]
})

null
